body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
header{
    height: 60px;
    background-color: #ffffff50;        
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    box-shadow: 5px 5px 5px 5px #00000010;
}
.container{
    background-image: url('../images/hotel-r-de-paris.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
footer{
    gap: 2em;
    padding: 2em 2em;
}
.text-white{
    color: white;
}
.avatar {
    height: 55px;
    max-height: 55px;
    max-width: 55px;
}
.avatar img {
    height: 100%;
    width: 100%;
}
.rounded-circle {
    border-radius: 50%;
}
.flex-row {
    display: flex;
}
.flex-grow{
    flex-grow: 1;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.center{
    justify-content: center;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.mx-md{
    margin: 0 1em;
}
li{
    list-style: none;
    cursor: pointer;
}
.login{
    max-height: 40px;
    max-width: 40px;
    height: 40px;
    width: 40px;
    background-color: blue;
}
.px-md{
    padding: 0 1em;
    
}
h1{
    font-size: 3em;
    margin: 0;
}
.tag-line{
    width: 80%;
    background-color: #00000050;
}
.text-center{
    text-align: center;
}
.menu{
    position: relative;
}
.menu-container{
    position: absolute;
    left: -100%;
    top: 20px;
    height: 0;
    width: 200px;
    visibility: hidden;
    background-color: white;
    transition: height .5s;
}

li:hover .menu-container{
    visibility: visible;
    transition: height .5s;
    height: 200px;
    width: 200px;
    overflow: hidden;
}
.wh-100{
    width: 100%;
    height: 100%;
    background-color: white;
}
.p-md{
    padding: 1em;
}
.menu-item{
    width: 100%;
    padding: .5em;
    border-bottom: 1px solid #00000020;
}
.menu-item:hover{
    background-color: #00000080;
    
}
.menu-item a:hover{
    color: white;
}
.menu-item a{
    text-decoration: none;
    color: #00000080;
    font-size: 16px;
}
ul {
    padding: 0;
}
.dep{
    background-color: white;
    width: 100%;
    padding: 1em 1em;
    gap: 1em;

}
.bloc{
    height: 395px;
    width: 233px;
    background-color: wheat;
    border-radius: 20%;
    text-align: center;
}
.contact{
    margin-left: 170px;
}
.information{
    margin-left: 80px;
}
@media screen and (max-width: 800px) {
    #expertise, #projet {
        flex-direction: column;
        align-items: center;
    }
    .container h1{
        font-size: 15px;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    #footer div{
        display:    flex;
        flex-direction: column;
    }
    #lui{
        display: flex;
        flex-direction: column;
    }
    .nav{
        display: none;
    }
    .nav0:hover  .nav {
        display:block;
        top: 10px;
        left: 12px;
        width: 100px;
        position: relative;
        background-color: red;
    }
    .nav0:hover  .avatar{
        display: none;
    }
}